* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

img {
  width: 100%;
}

/* DEBUG */

.debug header {
  /* border: 1px dashed red; */
  /* height: 85px; */
}

.debug .hero {
  /* border: 1px dashed red; */
}

.debug .container-m {
  /* border: 1px dashed green; */
}

.debug .col-4,
.col-8 {
  /* border: 1px dashed green;
  height: 434px; */
}

/* HEADER */

.page-header {
  padding: 18px 0;
}

.page-header ul {
  list-style: none;
  display: flex;
}

.page-header ul li {
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
}

.page-header ul li a {
  text-decoration: none;
  color: #555555;
}

.right-nav {
  padding-right: 20px;
}

.left-nav li:first-child {
  padding-left: 0;
}

.right-nav li,
.left-nav li {
  display: flex;
  align-items: center;
}

.right-nav li:last-child {
  background-color: #0061ff;
  padding: 5px 10px;
}

.right-nav li:last-child a {
  color: white;
}

.logo {
  transform: scale(80%);
}

/* SECTION HERO */

.hero {
  background-color: #b4d0e7;
  height: 580px;
}

.hero-title {
  font-weight: bold;
  font-size: 67px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.cta {
  margin-bottom: 30px;
}

.cta a {
  background-color: #0061ff;
  color: white;
  text-decoration: none;
  font-weight: 100;
  padding: 10px;
  font-size: 14px;
}

.arrow-icon {
  margin-top: 11px;
  font-size: 40px;
}

.col-4 {
  padding-right: 31px;
  flex-direction: column;
}

.col-4 p {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 100;
  margin-bottom: 30px;
}

/* CONTAINERS */

.container-l {
  width: 100vw;
}

.container-m {
  width: 1000px;
  margin: 0 auto;
}

.container-s {
  width: 800px;
}

/* COLUMNS */

.col-4 {
  display: flex;
  width: calc((100% / 12) * 4);
}

.col-8 {
  display: flex;
  width: calc((100% / 12) * 8);
}

.col-12 {
  width: calc((100% / 12) * 12);
}

/* UTILITY */

.justify-content-spaceb {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
